name: Deploy Lambda Processor

on:
  push:
    branches:
      - main
      - stage
    paths:
      - 'lambdas/processor/**'
      - '.github/workflows/deploy-processor.yml'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target Environment'
        required: false
        type: choice
        options:
          - stage
          - prod

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: >-
      ${{ 
        inputs.environment || 
        (github.ref == 'refs/heads/main' && 'prod') || 
        (github.ref == 'refs/heads/stage' && 'stage') || 
        'stage' 
      }}
    defaults:
      run:
        working-directory: ./lambdas/processor

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ secrets.AWS_ROLE_ARN }}"
          aws-region: "${{ vars.AWS_REGION }}"

      - name: Zip Lambda
        run: zip -r lambda.zip index.mjs

      - name: Update Lambda Code
        run: aws lambda update-function-code --function-name ${{ vars.PROCESSOR_FUNCTION_NAME }} --zip-file fileb://lambda.zip
