name: Deploy Website to AWS

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy-front.yml'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: aws
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "${{ secrets.AWS_ROLE_ARN }}"
          aws-region: "${{ secrets.AWS_REGION }}"
      
      - name: Install modules
        run: npm ci
      
      - name: Build application
        run: npm run build
      
      - name: Deploy to S3
        run: aws s3 sync --delete --size-only ./dist/ s3://${{ secrets.AWS_BUCKET_ID }}/site
      
      - name: Create CloudFront invalidation
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_DISTRIBUTION_ID }} --paths "/*.html" "/"
